$main-blue: #2c5ea9;
$main-yellow: #FFEC94;

body {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    .centered {
      text-align: center;
    }

    .bolded {
      font-weight: bold;
    }

    header {
      background-color: $main-blue;
      padding: 10px 0px;
      font-family: 'Raleway', sans-serif;

      .header-text {
        padding-left: 10px;
      }

      h1 {
        color: $main-yellow;
        font-size: 40px;
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
      h3 {
        font-size: 16px;
        color: #CCC;
        font-style: italic;
        font-family: 'Open Sans', sans-serif;
        // font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        margin-top: 10px;
        text-shadow: 2px 2px #333;
        &::before, &::after {
          content: '~';
        }
        &::before {
          padding-right: 5px;
        }
        &::after {
          padding-left: 5px;
        }
        @media screen and (max-width: 991px) {
          &::before, &::after {
            content: '';
          }
          font-size: 15px;
          text-align: center;
          text-shadow: none;
        }
      }

      h4 {
        font-size: 15px;
        font-weight: bold;
        margin-top: 55px;
        text-shadow: 2px 2px #333;
        text-transform: uppercase;
        color: #EEE;
        @media screen and (max-width: 991px) {
          margin-top: 20px;
          text-align: center;
          text-shadow: none;
          text-transform: none;
          .fa {
              display: none;
          }
        }
      }

      #share-buttons {
        float: right;
        margin-top: 10px;
        white-space: nowrap;
        @media screen and (max-width: 767px) {
          display: none;
        }
        a {
          vertical-align: middle;
          display: block;
          color: white;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
          .fa {
            width: 30px;
            height: 30px;
            border: 2px solid white;
            vertical-align: middle;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-top: 7px;
            border-radius: 5px;
            text-align: center;
            background: lighten($main-blue, 5%);
            margin-right: 5px;
            &:hover {
              background: $main-blue;
            }
          }
          .fa.fa-envelope-o {
            background: #e6474f;
            font-weight: bold;
          }
        }
      }

      img.img-responsive {
        max-width: 160px;
        @media screen and (max-width: 991px) {
          margin: 0 auto;
          max-width: 100%;
        }
      }
    }

    .navbar {
        text-align: center;
        font-size: 14px;
        margin-bottom: 0;
        li > a {
            padding-left: 30px;
            padding-right: 30px;
        }
        .navbar-nav {
            padding-left: 35px;
            @media screen and (max-width: 767px) {
              padding-left: 0;
            }
        }
    }

    .imagecollage {
      .col-md-2 {
        padding: 0;
      }
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        .carousel-inner {
            width: auto;
            margin: 10px 20px;
            img {
                max-height: 400px;
            }
        }

        .carousel-arrow {
            font-size: 64px;
            margin: 10px;
        }

        .carousel-left {
            -ms-transform: rotate(270deg); /* IE 9 */
            -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
            transform: rotate(270deg);
        }

        .carousel-right {
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
            transform: rotate(90deg);
        }
    }

    .entry-content {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.5em;
      font-size: 15px;
      margin-bottom: 10px;
    }

    footer {
      background: #CCC;
      padding: 5px;
      padding-bottom: 10px;
      font-size: 12px;

      a.footerfacebook {
        margin-top: 10px;
        text-align: center;
        display: block;
        color: black;
        .fa {
          background: $main-blue;
          padding: 5px;
          margin-right: 5px;
          color: white;
        }
      }

      .copyright {
        text-align: right;
        margin-right: 10px;
        @media screen and (max-width: 767px) {
          text-align: center;
        }
      }

      ul {
        list-style-type: none;
        text-align: center;
        padding-left: 0;
        .flabel {
          font-weight: bold;
        }
      }
      h3, h4 {
        text-align: center;
      }
      h3 {
        font-size: 18px;
      }
      h4 {
        font-size: 15px;
      }
    }

    section {
      padding: 10px;
    }

    //about
    .warning {
      text-transform: uppercase;
    }

    section.cases {
      div.case {
        background: #EEE;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        .case-img {
          max-width: 30%;
          float: left;
          &.video {
            width: 30%;
            margin-top: 10px;
          }
        }
        .case-txt {
          div {
            padding-left: 10px;
          }
          width: 70%;
          float: left;
        }
        &:nth-child(even) {
          .case-img {
            float: right;
          }
          .case-txt {
            div {
              padding-left: 0;
              padding-right: 10px;
            }
          }
        }
        @media screen and (max-width: 768px) {
          .case-txt, .case-img {
            width: 100%;
            max-width: 100%;
            text-align: center;
            float: none;
            padding: 0;
          }
          .case-img img {
            margin: 0 auto;
          }
          .case-img.video {
            margin: 0 auto;
            width: 100%;
          }
          &:nth-child(even) {
            .case-img, .case-text {
              float: none;
              padding: 0;
            }
          }
        }
      }
    }

    //Team
    section.team {
      h2, h3, h5 {
        text-align: center;
      }

      h3 {
        color: $main-blue;
      }

      .team-member.vet:nth-child(3n+1) {
          clear: left;
      }

      .team-member:not(.vet):nth-child(4n+1) {
        clear: left;
      }

      .team-member-txt {
        padding-bottom: 10px;
        text-align: center;
      }


      .team-member-img {
        img {
          width: 200px;
          height: auto;
        }
        width: 200px;
        height: 200px;
        margin: 0 auto;
        div {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden
        }
      }

      .support {
        h3 {
          margin-bottom: 25px;
        }
      }

    }



    //Services
    section.services {
      .service-img {
        img {
          width: 30%;
          float: left;
          @media screen and (max-width: 768px) {
            width: 70%;
            float: none;
            margin: 0 auto;
          }
        }
      }

      .service-txt {
        h3 {
          color: $main-blue;
        }
        width: 70%;
        float: left;
        div {
          margin-left: 15px;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          text-align: center;
          float: none;
          div {
            margin-left: 0;
          }
        }
      }

      .service:nth-child(odd) {
        .service-img {
          img {
            float: right;
          }
          @media screen and (max-width: 768px) {
            img {
              float: none;
            }
          }
        }

        .service-txt {
          div {
            margin-left: 0;
            margin-right: 15px;
            @media screen and (max-width: 768px) {
              margin-right: 0;
            }
          }
        }
      }
    }

    section.service {
      margin-bottom: 20px;
      img {
        float: left;
        margin-right: 10px;
        border: 1px solid black;
        @media screen and (max-width: 480px) {
          float: none;
          margin: 0 auto;
          margin-bottom: 10px;
        }
      }

      .entry-content > h1 {
        margin-bottom: 0px;
        @media screen and (max-width: 480px) {
          font-size: 20px;
        }
      }

      .inline-nav-services {
        margin-bottom: 10px;
      }
    }

    //Contact
    .contact {
      margin-top: 20px;

      ul {
        margin-top: 20px;
        list-style-type: none;
        padding-left: 0;
        .flabel {
          font-weight: bold;
        }
        li {
          margin-bottom: 15px;
        }
      }
      section .map iframe {
        max-width: 100%;
        max-height: 300px;
      }

    }

}
