body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  body header {
    background-color: #3060A7;
    padding: 10px 0px;
    font-family: 'Raleway', sans-serif; }
    body header h1 {
      color: #FFEC94;
      font-size: 30px; }
      @media screen and (max-width: 767px) {
        body header h1 {
          display: none; } }
    body header h3 {
      font-size: 18px;
      color: #CCC;
      font-style: italic;
      margin-top: 10px; }
      @media screen and (max-width: 767px) {
        body header h3 {
          font-size: 15px;
          text-align: center; } }
    body header h4 {
      font-size: 18px;
      margin-top: 30px;
      color: white; }
      @media screen and (max-width: 767px) {
        body header h4 {
          margin-top: 20px;
          text-align: center; }
          body header h4 .fa {
            display: none; } }
    body header #share-buttons {
      float: right;
      margin-top: 10px; }
      @media screen and (max-width: 767px) {
        body header #share-buttons {
          display: none; } }
      body header #share-buttons a {
        vertical-align: middle;
        display: block;
        color: white;
        text-decoration: none; }
        body header #share-buttons a:hover {
          text-decoration: none; }
        body header #share-buttons a .fa {
          width: 30px;
          height: 30px;
          border: 2px solid white;
          vertical-align: middle;
          margin-top: 5px;
          margin-bottom: 5px;
          padding-top: 5px;
          text-align: center;
          background: #4178c9;
          margin-right: 5px; }
        body header #share-buttons a .fa.fa-envelope-o {
          background: #e6474f;
          font-weight: bold; }
    @media screen and (max-width: 767px) {
      body header img {
        margin: 0 auto; } }
  body .navbar {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0; }
    body .navbar li > a {
      padding-left: 30px;
      padding-right: 30px; }
    body .navbar .navbar-nav {
      padding-left: 35px; }
      @media screen and (max-width: 767px) {
        body .navbar .navbar-nav {
          padding-left: 0; } }
  body .imagecollage .col-md-2 {
    padding: 0; }
  body .carousel {
    display: flex;
    align-items: center;
    justify-content: center; }
    body .carousel .carousel-inner {
      width: auto;
      margin: 10px 20px; }
      body .carousel .carousel-inner img {
        max-height: 400px; }
    body .carousel .carousel-arrow {
      font-size: 64px;
      margin: 10px; }
    body .carousel .carousel-left {
      -ms-transform: rotate(270deg);
      /* IE 9 */
      -webkit-transform: rotate(270deg);
      /* Chrome, Safari, Opera */
      transform: rotate(270deg); }
    body .carousel .carousel-right {
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Chrome, Safari, Opera */
      transform: rotate(90deg); }
  body .entry-content {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 15px;
    margin-bottom: 10px; }
  body footer {
    background: #EEE;
    padding: 5px;
    margin-top: 20px;
    font-size: 12px; }
    body footer ul {
      list-style-type: none;
      text-align: center;
      padding-left: 0; }
      body footer ul .flabel {
        font-weight: bold; }
    body footer h3, body footer h4 {
      text-align: center; }
    body footer h3 {
      font-size: 18px; }
    body footer h4 {
      font-size: 15px; }

/*# sourceMappingURL=style.css.map */
