body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body .centered {
  text-align: center;
}

body .bolded {
  font-weight: bold;
}

body header {
  background-color: #3060A7;
  padding: 10px 0px;
  font-family: 'Raleway', sans-serif;
}

body header h1 {
  color: #FFEC94;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  body header h1 {
    display: none;
  }
}

body header h3 {
  font-size: 16px;
  color: #CCC;
  font-style: italic;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  body header h3 {
    font-size: 15px;
    text-align: center;
  }
}

body header h4 {
  font-size: 16px;
  margin-top: 30px;
  color: #EEE;
}

@media screen and (max-width: 767px) {
  body header h4 {
    margin-top: 20px;
    text-align: center;
  }
  body header h4 .fa {
    display: none;
  }
}

body header #share-buttons {
  float: right;
  margin-top: 10px;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  body header #share-buttons {
    display: none;
  }
}

body header #share-buttons a {
  vertical-align: middle;
  display: block;
  color: white;
  text-decoration: none;
}

body header #share-buttons a:hover {
  text-decoration: none;
}

body header #share-buttons a .fa {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 7px;
  border-radius: 5px;
  text-align: center;
  background: #366bbb;
  margin-right: 5px;
}

body header #share-buttons a .fa:hover {
  background: #3060A7;
}

body header #share-buttons a .fa.fa-envelope-o {
  background: #e6474f;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  body header img {
    margin: 0 auto;
  }
}

body .navbar {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}

body .navbar li > a {
  padding-left: 30px;
  padding-right: 30px;
}

body .navbar .navbar-nav {
  padding-left: 35px;
}

@media screen and (max-width: 767px) {
  body .navbar .navbar-nav {
    padding-left: 0;
  }
}

body .imagecollage .col-md-2 {
  padding: 0;
}

body .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .carousel .carousel-inner {
  width: auto;
  margin: 10px 20px;
}

body .carousel .carousel-inner img {
  max-height: 400px;
}

body .carousel .carousel-arrow {
  font-size: 64px;
  margin: 10px;
}

body .carousel .carousel-left {
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

body .carousel .carousel-right {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

body .entry-content {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  margin-bottom: 10px;
}

body footer {
  background: #CCC;
  padding: 5px;
  padding-bottom: 10px;
  font-size: 12px;
}

body footer a.footerfacebook {
  margin-top: 10px;
  text-align: center;
  display: block;
  color: black;
}

body footer a.footerfacebook .fa {
  background: #3060A7;
  padding: 5px;
  margin-right: 5px;
  color: white;
}

body footer .copyright {
  text-align: right;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  body footer .copyright {
    text-align: center;
  }
}

body footer ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

body footer ul .flabel {
  font-weight: bold;
}

body footer h3, body footer h4 {
  text-align: center;
}

body footer h3 {
  font-size: 18px;
}

body footer h4 {
  font-size: 15px;
}

body section {
  padding: 10px;
}

body .warning {
  text-transform: uppercase;
}

body section.cases div.case {
  background: #EEE;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

body section.cases div.case .case-img {
  max-width: 30%;
  float: left;
}

body section.cases div.case .case-img.video {
  width: 30%;
  margin-top: 10px;
}

body section.cases div.case .case-txt {
  width: 70%;
  float: left;
}

body section.cases div.case .case-txt div {
  padding-left: 10px;
}

body section.cases div.case:nth-child(even) .case-img {
  float: right;
}

body section.cases div.case:nth-child(even) .case-txt div {
  padding-left: 0;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  body section.cases div.case .case-txt, body section.cases div.case .case-img {
    width: 100%;
    max-width: 100%;
    text-align: center;
    float: none;
    padding: 0;
  }
  body section.cases div.case .case-img img {
    margin: 0 auto;
  }
  body section.cases div.case .case-img.video {
    margin: 0 auto;
    width: 100%;
  }
  body section.cases div.case:nth-child(even) .case-img, body section.cases div.case:nth-child(even) .case-text {
    float: none;
    padding: 0;
  }
}

body section.team h3, body section.team h5 {
  text-align: center;
}

body section.team .team-member.vet:nth-child(3n+1) {
  clear: left;
}

body section.team .team-member-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

body section.team .team-member-img img {
  width: 200px;
  height: auto;
}

body section.team .team-member-img div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

body section.services .service-img img {
  width: 30%;
  float: left;
}

body section.services .service-txt {
  width: 70%;
  float: left;
}

body section.services .service-txt div {
  margin-left: 15px;
}

body section.services .service:nth-child(odd) .service-img img {
  float: right;
}

body section.services .service:nth-child(odd) .service-txt div {
  margin-left: 0;
  margin-right: 15px;
}

body .contact {
  margin-top: 20px;
}

body .contact ul {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0;
}

body .contact ul .flabel {
  font-weight: bold;
}

body .contact ul li {
  margin-bottom: 15px;
}

body .contact section .map iframe {
  max-width: 100%;
  max-height: 300px;
}
