$main-blue: #3060A7;
$main-yellow: #FFEC94;

body {

    font-family: 'Raleway', sans-serif;

    .header-banner {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-stretch;

        background: $main-blue;

        img {
            width: 250px;
            margin: 20px 0;
        }

        .header-right {
            display: flex;
            flex-direction: column;

            margin-top: 25px;
            color: white;

            h3 {
                margin-top: 0;
                padding-left: 10px;
                font-style: italic;
                font-size: 20px;
            }

            h1 {
                color: $main-yellow;
               # border-bottom: 1px dashed white;
               # border-top: 1px dashed white;
                padding: 10px;
            }

        }
    }

    .navbar {
        text-align: center;
        font-size: 16px;
        li > a {
            padding-left: 30px;
            padding-right: 30px;
        }
        .navbar-nav {
            padding-left: 35px;
        }
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        .carousel-inner {
            width: auto;
            margin: 10px 20px;
            img {
                max-height: 400px;
            }
        }

        .carousel-arrow {
            font-size: 64px;
            margin: 10px;
        }

        .carousel-left {
            -ms-transform: rotate(270deg); /* IE 9 */
            -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
            transform: rotate(270deg);
        }

        .carousel-right {
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
            transform: rotate(90deg);
        }
    }


}