<section class="cases">
  <div class="container">
    <h1>Cases</h1>
    <p class="bolded warning"><span style="color: red;">WARNING: </span>Images may be graphic to some viewers. Viewer discretion is advised.</p>
    <div class="row case">
      <div class="container">
        <div class="case-img">
          <img src="/images/cases/bunny.jpeg" class="img-responsive" alt="Rabbit with Mange image" height="200px"/>
        </div>
        <div class="case-txt">
          <div>
            <h3>Rabbit with Mange</h3>
            <p>This rabbit first came to us with a bad case of mange. Mange can cause rabbits major hair loss due to continuous itching as well as abnormal crusty growths all over the body.
              PetZone vets were luckily able to assist his recovery immediately and improve his health in just 2 weeks!
              Your pets can receive the same life-saving treatment and successful recovery at PetZone Churchgate, Mahalaxmi and Goa!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row case">
      <div class="container">
        <div class="case-img">
          <img src="/images/cases/sparrow.jpeg" class="img-responsive" alt="Traumatized Sparrow Image" height="200px"/>
        </div>
        <div class="case-txt">
          <div>
            <h3>Traumatized Sparrow</h3>
            <p>This tiny hatchling visited us after having a run in with a cat! Luckily the chick was perfectly fine, just a little traumatised from the meeting! He was feeling much better after having some electral water fed to him and we were able to release him back to his cat free home.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row case">
      <div class="container">
        <div class="case-img">
          <img src="/images/cases/maia.jpeg" class="img-responsive" alt="Toe Amputation Image" height="200px"/>
        </div>
        <div class="case-txt">
          <div>
            <h3>Toe Amputation</h3>
            <p>Some dogs just have too much fun running around on a farm! Maia Lewis was one of these dogs who just couldn't help but get her toe caught up in some wire. Luckily our Churchgate staff were able to amputate her little toe before any infection spread. You can see Maia's toe one day after her surgery and once completed healed! Also, notice Maia is not too happy in her cone! The staff at PetZone were able to amputate her little toe before any infection spread. You can see Maia's toe one day after her surgery and once completed healed! Also, notice Maia is not too happy in her cone!</p>
            <p>This surgery is just one of the many services PetZone is able to provide your pets!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row case">
      <div class="container">
        <div class="case-img">
          <img src="/images/cases/royce.jpeg" class="img-responsive" alt="Routine Neuter Image" height="200px"/>
        </div>
        <div class="case-txt">
          <div>
            <h3>Routine Male Neuter</h3>
            <p>This is the very handsome Royce Mahimtura. He came in for a simple neuter and our PetZone staff could not resist having a mini photoshoot with him post operation. The neuter helped decrease Royce’s aggression, made him friendlier towards others as well as decreased his chances of developing prostate cancer. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row case">
      <div class="container">
        <div class="case-img">
          <img src="/images/cases/prince.jpeg" class="img-responsive" alt="Split Palate Image" height="200px"/>
        </div>
        <div class="case-txt">
          <div>
            <h3>Prince's Split Palate</h3>
            <p>Prince Maluste came to us after falling from his 6th floor house. Fortunately the only major injury he suffered despite the fall from this height was a split in his palate, but he required surgery immediately so that he could eat without the fear of food and water going into his lungs. Our veterinarians and surgeon were able to stitch Prince's palate back up within 20 minutes! He has completely recovered since the surgery, and is eating and drinking water as normal. He also provided his owners with lots of entertainment when he woke up from his anaesthesia and ran all over the house like nothing happened!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row case">
      <div class="container">
        <div class="case-img video">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a1vtR6ovFIs"></iframe>
          </div>
        </div>
        <div class="case-txt">
          <div>
            <h3>Michiko's Amazing Recovery</h3>
            <p>Michiko first came to us when she had trouble walking. She would slip to one side and couldn't balance her own weight. This was because she had loss of muscle mass and a neurological deficit in her hind legs. Michiko was treated with physiotherapy at PetZone Mahalaxmi and within 6 weeks she was showing improvement. She would try and jump onto couches at home, and run and trot away without falling or slipping. The physiotherapy strengthened her musculature and stimulated her nerves, which helped her get back to her usual happy and playful self! She was even able to swim after her last physiotherapy session without any difficulty and has been very active ever since! You can see her walking before and after her physiotherapy sessions in the video below. PetZone can provide your pets the same kind of treatment which can help them get back to their happy selves!</p>
          </div>
        </div>
      </div>
    </div>


  </div>

</section>
