<footer>

  <h3> Get In Touch </h3>
  <div class="container">
    <div class="col-sm-4 col-xs-12">
      <h4>Churchgate</h4>
      <ul>
        <li><span class='flabel'>Address:</span> Green Fields, M. Karve Road, Opposite Oval Maidan, Churchgate, Mumbai 400020</li>
        <li><span class='flabel'>Phone:</span> (022)66153497 / (022)22854449 ext 102</li>
        <li><span class='flabel'>Email:</span> petzone.churchgate@gmail.com</li>
        <li><span class='flabel'>Open:</span> Monday-Saturday <span class="flabel">Closed:</span> Sunday</li>
        <li><span class='flabel'>Timings:</span> 10:00 am - 7:00 pm</li>
        <li><span class='flabel'><a href="https://www.google.com/maps/place/Pet+Zone/@18.9306054,72.825661,17z/data=!3m1!4b1!4m2!3m1!1s0x3be7d1e801f6b3eb:0xd56d38d0fa4a2f31?hl=en-US" alt="map" title="Map">Map</a></span>
      </ul>
    </div>
    <div class="col-sm-4 col-xs-12">
      <h4>Mahalaxmi</h4>
      <ul>
        <li><span class='flabel'>Address:</span> 7/9, Mehar Estate, Dr. E Moses Road, Opposite Mahalaxmi Railway Station, Mahalaxmi, Mumbai 400011</li>
        <li><span class='flabel'>Phone:</span> (022)23545511</li>
        <li><span class='flabel'>Email:</span> petzone.mahalaxmi@gmail.com</li>
        <li><span class='flabel'>Open:</span> Saturday – Thursday <span class="flabel">Closed:</span> Friday</li>
        <li><span class='flabel'>Timings:</span> 9:00 am - 12:00 midnight</li>
        <li><span class='flabel'><a href="https://www.google.com/maps/place/PetZone+Mahalaxmi+Veterinary+Clinic/@18.980459,72.813968,15z/data=!4m2!3m1!1s0x0:0xd6f5fabc97f330eb?hl=en-US" alt="map" title="Map">Map</a></span>
      </ul>
    </div>
    <div class="col-sm-4 col-xs-12">
      <h4>Goa</h4>
      <ul>
        <li><span class='flabel'>Address:</span> Udayan Building, Bhatkar Vaddo, Off NH17, Socorro, Porvorim, Goa 403501</li>
        <li><span class='flabel'>Phone:</span> 8108142687 / 9028045488</li>
        <li><span class='flabel'>Email:</span> petzone.goa@gmail.com</li>
        <li><span class='flabel'>Open:</span> Monday-Saturday <span class="flabel">Closed:</span> Sunday</li>
        <li><span class='flabel'>Timings:</span> 9:00 am – 6:00 pm (by appointment only). Walk-in Hours: 4:30 pm - 5:30 pm</li>
        <li><span class='flabel'><a href="https://www.google.com/maps/place/PetZone+Veterinary+Clinic/@15.551586,73.816152,16z/data=!4m2!3m1!1s0x0:0xf45cb7d267f9d637?hl=en-US" alt="map" title="Map">Map</a></span>
      </ul>
    </div>
  </div>

  <a class="footerfacebook" href="https://www.facebook.com/petzonemumbai/" alt="PetZone Facebook Page" title="PetZone Facebook Page">
    <i class="fa fa-facebook"></i>Find us on Facebook
  </a>

  <br />
  <p class="copyright">&copy; Copyright PetZone Veterinary Clinic 2015</p>

</footer>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65532661-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script src="/js/jquery-1.11.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
