<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic,400italic,700italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/images/favicon2.png" type="image/png" sizes="16x16">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <header>
    <div class="container">
      <div class="col-md-2 col-sm-12">
        <a href="/" title="home"><img src="/images/petzone_logo.jpg" class="img-responsive" alt="Petzone Logo"></a>
      </div>
      <div class="col-md-10 col-sm-12">
        <div class="header-text">
          <h1>PetZone Veterinary Clinics</h1>
          <h3>We care for our patients and the people who love them</h3>
          <h4>Full service clinics offering specialized veterinary care in Mumbai and Goa.</h4>
        </div>
      </div>
    </div>
  </header>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li {% if page.url == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
          <li {% if page.url == '/about/' %}class="active"{% endif %}><a href="/about">About</a></li>
          <li {% if page.url == '/services/' %}class="active"{% endif %}><a href="/services">Services</a></li>
          <li {% if page.url == '/contact/' %}class="active"{% endif %}><a href="/contact">Contact Us</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
