<section class="team">
  <div class="container">
    <div class="entry-content">
      <h1>Our Team</h1>
      

      	<h2>Veterinarians</h2>
      	<br />

		   {% for vet in page.vets %}

			<div class="team-member vet col-md-4">
		      <div class="container">
		        <div class="team-member-img">
		        	<div>
		          		<img src={{ vet.img }} class="img-responsive" alt="" />
		          	</div>
		        </div>
		        <div class="team-member-txt">
		          <div>
		            <h3>{{ vet.name }}</h3>
		            <h5>{{ vet.degree }}</h5>
		            <p>{{ vet.bio }}</p>
		          </div>
		        </div>
		      </div>
		      
		    </div>


		    {% endfor %}

    </div>
  </div>
</section>
