{% include header.html %}
<h1 class="centered">Locations</h1>
<div class="contact">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="contact-text">
            <h3>PetZone Churchgate (Mumbai)</h3>
            <ul>
              <li><i class="fa fa-map-marker"></i> <span class='flabel'>Address:</span> <br />Green Fields, M. Karve Road, Opposite Oval Maidan, Churchgate, Mumbai 400020</li>
              <li><i class="fa fa-phone"></i> <span class='flabel'>Phone:</span> (022)66153497 / (022)22854449 ext 102</li>
              <li><i class="fa fa-envelope-o"></i> <span class='flabel'>Email:</span> petzone.churchgate@gmail.com</li>
              <li><i class="fa fa-calendar"></i> <span class='flabel'>Open:</span> Monday-Saturday <span class="flabel">Closed:</span> Sunday</li>
              <li><i class="fa fa-clock-o"></i><span class='flabel'> Timings:</span> 10:00 am - 7:00 pm</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6590.9787657236175!2d72.82140906915716!3d18.931978126683443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1e801f6b3eb%3A0xd56d38d0fa4a2f31!2sPet+Zone!5e0!3m2!1sen!2sin!4v1447245448846" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="contact-text">
            <h3>PetZone Mahalaxmi (Mumbai)</h3>
            <ul>
              <li><i class="fa fa-map-marker"></i> <span class='flabel'>Address:</span> <br />7/9, Mehar Estate, Dr. E Moses Road, Opposite Mahalaxmi Railway Station, Mahalaxmi, Mumbai 400011</li>
              <li><i class="fa fa-phone"></i> <span class='flabel'>Phone:</span> (022)23545511</li>
              <li><i class="fa fa-envelope-o"></i> <span class='flabel'>Email:</span> petzone.mahalaxmi@gmail.com</li>
              <li><i class="fa fa-calendar"></i> <span class='flabel'>Open:</span> Saturday-Thursday <span class="flabel">Closed:</span> Friday</li>
              <li><i class="fa fa-clock-o"></i><span class='flabel'> Timings:</span> 9:00 am - 7:00 pm</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15091.314182527174!2d72.8238603!3d18.983178!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6f5fabc97f330eb!2sPetZone+Mahalaxmi+Veterinary+Clinic!5e0!3m2!1sen!2sin!4v1449601461861" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr />


  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="contact-text">
            <h3>PetZone Goa</h3>
            <ul>
              <li><i class="fa fa-map-marker"></i> <span class='flabel'>Address:</span> <br />Udayan Building, Bhatkar Vaddo, Off NH17, Socorro, Porvorim, Goa 403501</li>
              <li><i class="fa fa-phone"></i> <span class='flabel'>Phone:</span>  8108142687</li>
              <li><i class="fa fa-envelope-o"></i> <span class='flabel'>Email:</span> petzone.goa@gmail.com</li>
              <li><i class="fa fa-calendar"></i> <span class='flabel'>Open:</span> Monday-Saturday <span class="flabel">Closed:</span> Sunday</li>
              <li><i class="fa fa-clock-o"></i><span class='flabel'> Timings:</span> 9:00 am - 6:00 pm (by appointment only). Walk-in Hours: 4:30 pm to 5:30 pm</li>

            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3843.7489042676643!2d73.81396301485191!3d15.551585789202525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfea9faf8b8755%3A0xf45cb7d267f9d637!2sPetZone+Veterinary+Clinic!5e0!3m2!1sen!2sin!4v1449581612168" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


{% include footer.html %}
