{% include header.html %}

<div class="container">
  <div class="col-md-8 col-xs-12">

    <div class="entry-content row">
      <h1 class="centered">Welcome to PetZone</h1>
      <p>
        PetZone Veterinary Clinics provide pets with the best possible medical service and treatment any pet parent could wish for.
        PetZones are located in both Mumbai and Goa. First established in 2001 in Churchgate, PetZone has since grown to open new clinics in Mahalaxmi in 2011 and Goa in 2015.
        We are a group of highly trained and dedicated individuals able to provide your pets with excellent care and specialised service. You can find out more about our full story <a href="about" title="About Us">here.</a>
      </p>
    </div>

    <section>

      <div class="imagecollage">
        <div class="row">
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/2.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/3.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/4.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/29.jpg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/6.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/7.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/25.jpg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/26.jpg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
        </div>
        
        <div class="row">  
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/10.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/27.jpg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/12.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
          <div class="col-xs-3 col-md-3">
            <img src="/images/frontpage/28.jpg" alt="animal" class="img-responsive" width="300" height="300"/>
          </div>
        </div>

      </div>
    </section>
  </div>
  <div class="col-xs-12 col-md-4 fb-col">
    <br />
    <div class="fb-page" data-href="https://www.facebook.com/petzonemumbai/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-width="500" data-height="800" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/petzonemumbai/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/petzonemumbai/">PetZone</a></blockquote></div>
  </div>
</div>    
{% include footer.html %}
