{% include header.html %}

<div class="entry-content container">
  <h1 style="text-align: center;">Welcome to PetZone</h1>
  <p>
    PetZone Veterinary Clinics provide pets with the best possible medical service and treatment any pet parent could wish for.
    PetZones are located in both Mumbai and Goa. First established in 2001 in Churchgate, PetZone has since grown to open new clinics in Mahalaxmi in 2011 and Goa in 2015.
    We are a group of highly trained and dedicated individuals able to provide your pets with excellent care and specialised service. You can find out more about our full story <a href="about" title="About Us">here.</a>
  </p>
</div>

<div class="container imagecollage">
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/2.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/3.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/4.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/5.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/6.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/7.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/8.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/9.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/10.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/11.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/12.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="images/frontpage/13.jpeg" alt="animal" class="img-responsive" width="300" height="300"/>
  </div>
</div>

{% include footer.html %}
