{% include header.html %}

<section class="services">
  <div class="container">
    <div class="entry-content">
      <h1>Services</h1>
      
			{% for serv in page.services %}

			<div class="row case">
	      <div class="container">
	        <div class="service-img">
	          <img src={{ serv.img }} class="img-responsive" alt="Medical Treatment" height="200px"/>
	        </div>
	        <div class="service-txt">
	          <div>
	            <h3>{{ serv.service }}</h3>
	            <p>{{ serv.text }}</p>
	            {% if serv.learn-more-slug != "" %}
	            	<a href="{{serv.learn-more-slug}}" alt="Learn More" title="Learn More">Learn More &#187;</a>
	            {% endif %}
	          </div>
	        </div>
	      </div>
	    </div>

	    <hr />

	    {% endfor %}

    </div>
  </div>
</section>


{% include footer.html %}