{% include header.html %}

<section class="services">
  <div class="container">
    <div class="entry-content">
      <h1>Services</h1>
      
			<div class="row case">
	      <div class="container">
	        <div class="service-img">
	          <img src="/images/services/medical_treatment.jpg" class="img-responsive" alt="Medical Treatment" height="200px"/>
	        </div>
	        <div class="service-txt">
	          <div>
	            <h3>Medical treatment & advice</h3>
	            <p>We at PetZone understand that a pet is like a beloved family member. Our skilled veterinarians are able to determine the cause of an illness effectively and efficiently, not only to help your pet but also to put your mind at ease.</p>
	          </div>
	        </div>
	      </div>
	    </div>

    </div>
  </div>
</section>


{% include footer.html %}